* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

html {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ancho {
    width: 100vw;
    height: calc((10 / 16) * 87vw);
    left: calc(50% - 50vw);
    top: calc(50% - (((10 / 16) * 87vw) / 2));
}

.alto {
    width: calc((16 / 10) * 115vh);
    height: 100vh;
    top: calc(50% - 50vh);
    left: calc(50% - (((16 / 10) * 115vh) / 2));
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 768px;
}

.abs {
    position: absolute;
}

.back {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* WARNING */
.warning {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99;

    gap: 1.5rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.warning p {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-family: monospace;
}

.warning .rotate {
    width: 15%;
    height: 30%;
    background-image: url(./assets/images/rotate.png);
}

.screen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* INIT SCREEN */
#init {
    /* display: none; */
    background-image: url(./assets/images/init-bc.png);
}

#init .darken {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

#init .heart {
    top: 10%;
    width: 3.3%;
    height: 5%;
    background-image: url(./assets/images/empty-heart.png);
    animation: fill 2s infinite;
}

#init .heart-1 {
    left: 71%;
    animation-delay: 0.4s;
}

#init .heart-2 {
    left: 67%;
    animation-delay: 0.2s;
}

#init .heart-3 {
    left: 63%;
}

@keyframes fill {
    0% {
        background-image: url(./assets/images/empty-heart.png);
    }

    50% {
        background-image: url(./assets/images/full-heart.png);
    }

    100% {
        background-image: url(./assets/images/empty-heart.png);
    }
}

#init .logo {
    top: 18%;
    left: 25%;
    width: 50%;
    height: 21%;
    background-image: url(./assets/images/logo.png);
}

#play-btn {
    cursor: pointer;
    top: 63%;
    left: 42%;
    width: 7%;
    height: 13%;
    background-image: url(./assets/images/play-btn.png);
    opacity: .8;
}

#instruct-btn {
    cursor: pointer;
    top: 63%;
    left: 52%;
    width: 7%;
    height: 13%;
    background-image: url(./assets/images/instruct-btn.png);
    opacity: .8;
}

#full-btn {
    cursor: pointer;
    bottom: 5%;
    right: 3%;
    width: 4%;
    height: 7%;
    opacity: .8;
}

.open-full {
    background-image: url(./assets/images/full-screen.png);
}

.normal-full {
    background-image: url(./assets/images/normal-screen.png);
}

#instruct-btn:hover,
#play-btn:hover {
    opacity: 1;
}

#init .instruct {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#desktop-instruct {
    display: none;
}

#desktop-instruct {
    top: 50%;
    left: 37%;
    width: 30%;
    height: 32%;
    background-image: url(./assets/images/desktop-instruct.png);
}

#mobile-instruct {
    top: 50%;
    left: 37%;
    width: 30%;
    height: 32%;
    background-image: url(./assets/images/mobile-instruct.png);
}

#init .exit {
    cursor: pointer;
    bottom: 5%;
    right: 3%;
    width: 7%;
    height: 13%;
    background-image: url(./assets/images/exit-btn.png);
    opacity: .8;
}

#init .exit:hover {
    opacity: 1;
}

/* GAME SCREEN */
#game {
    display: none;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.btn {
    width: 7.5%;
    height: 14%;
    opacity: .4;
}

#right-btn {
    bottom: 5%;
    left: 14%;
    background-image: url(./assets/images/right-btn.png);
}

#left-btn {
    bottom: 5%;
    left: 2.5%;
    background-image: url(./assets/images/left-btn.png);
}

#jump-btn {
    bottom: 5%;
    right: 11%;
    background-image: url(./assets/images/jump-btn.png);
}

#shoot-btn {
    bottom: 20%;
    right: 4%;
    background-image: url(./assets/images/shoot-btn.png);
}

#win-pop {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

#win-pop .text {
    top: 13%;
    left: 30%;
    width: 40%;
    height: 17%;
    background-image: url(./assets/images/win-text.png);
}

#total-score {
    top: 39%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: monospace;
    font-size: 2rem;
}

#retry-btn {
    cursor: pointer;
    top: 63%;
    left: 42%;
    width: 7%;
    height: 13%;
    background-image: url(./assets/images/play-btn.png);
    opacity: .8;
}

#win-pop .exit {
    cursor: pointer;
    top: 63%;
    left: 52%;
    width: 7%;
    height: 13%;
    background-image: url(./assets/images/exit-btn.png);
    opacity: .8;
}

#retry-btn:hover,
#win-pop .exit:hover {
    opacity: 1;
}

@media screen and (min-width: 1000px) {
    #total-score {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1200px) {

    .btn,
    #mobile-instruct {
        display: none;
    }

    #desktop-instruct {
        display: block;
    }
}